@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sidebar {
  min-width: 200px;  
  padding-top: 30px;
  font-weight: bold;
  color: #383838;  
}

.line {
  height: 1px;
}

.gradient-bg-home {  
  background: linear-gradient(90deg, #2B5CD9 0%, #5FA9EC 100%)
}

.head-content {
  font-weight: lighter;
  color: #383838;
  background: #F4F4F4;
}