@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Helvetica Neue, sans-serif;
}

a {
  color:inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sidebar li {
  font-weight: 700;
  color: #505050;
  transition:all 0.3s ease;
}

.sidebar li:hover {
  color: #000000;
  background-color: rgb(250, 250, 250);
  border-left: 6px solid #5FA9EC;
}

.sidebar li:active, .active {
  border-left: 6px solid #5FA9EC;
}

.external-links li {
  font-weight: 700;
  color: #505050;
  transition:all 0.3s ease;
}

.external-links li:hover {
  color: #000000;
}

.line {
  height: 1px;
}

.gradient-bg-home {  
  background: linear-gradient(90deg, #2B5CD9 0%, #5FA9EC 100%)
}

.head-content {
  font-weight: lighter;
  color: #383838;
  background: linear-gradient(60deg, #2B5CD9 0%, #5FA9EC 100%)
}


.page-title {
  height:16rem;
  padding-left: 6rem;
  padding-bottom: 3rem;
  padding-right: 3rem;
  font-size: 3rem;
  color:white;
  background: linear-gradient(45deg, #2B5CD9 0%, #5FA9EC 100%);
  display:flex;
  align-items: flex-end;
}

.page-content {
  width:720px;
  padding-left: 6rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  color:#383838;
}

.page-content p {
  margin-bottom:16px;
}