@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Helvetica Neue, sans-serif;
}

a {
  color:inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sidebar li {
  font-weight: 700;
  color: #505050;
  transition:all 0.3s ease;
}

.sidebar li:hover {
  color: #000000;
  background-color: rgb(250, 250, 250);
  border-left: 6px solid #5FA9EC;
}

.sidebar li:active {
  border-left: 6px solid #5FA9EC;
}


.external-links li {
  font-weight: 700;
  color: #505050;
  transition:all 0.3s ease;
}

.external-links li:hover {
  color: #000000;
}

.line {
  height: 1px;
}

.gradient-bg-home {  
  background: linear-gradient(60deg, #2B5CD9 0%, #5FA9EC 100%)
}